@import '../../mixin.scss';

.menu {
  display: flex;
  align-items: center;
  height: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__item {
    margin-right: 20px;
    list-style-type: none;
    position: relative;

    &:nth-child(2):after,
    &:nth-child(5):after {
      @include MaterialIcons();
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &__link {
    &:first-of-type {
      letter-spacing: 0.9px;
    }
  }


  &__link,
  &__sublink,
  &__item {
    @include Montserrat($fw: 400, $fsl: normal, $fsz:14px);
    line-height: 27.41px;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
  }

  &__link:hover,
  &__sublink:hover,
  &__item:hover {
    color: #1F2041;
  }

  &__sublist {
    position: absolute;
    z-index: 10;
    padding: 20px 10px 0 10px;
    top: 5px;
    right: 6px;
    left: 0;
    bottom: 0;
    display: none;
  }

  &__subitem {
    list-style-type: none;
    padding-bottom: 8px;
  }

  &__link-bold {
    font-weight: 700;
    color: rgba(31, 32, 65, 0.75);
  }

}

.menu__list>li:hover>ul {
  display: block;
}