.menu {
  display: flex;
  align-items: center;
  height: 100%;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    list-style-type: none;
    position: relative;

    &:nth-child(2):after,
    &:nth-child(5):after {
      content: 'expand_more';
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
      color: lighten(#1F2041, 50%);
    }
  }

  &__link,
  &__sublink,
  &__item {
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27.41px;
    color: lighten(#1F2041, 50%);
    text-decoration: none;
  }

  &__link:hover,
  &__sublink:hover,
  &__item:hover {
    color: #1F2041;
  }

  &__sublist {
    position: absolute;
    padding: 20px 10px 0 10px;
    top: 5px;
    right: 6px;
    display: none;
  }

  &__subitem {
    list-style-type: none;
    margin-bottom: 8px;
  }

  &__link-bold {
    font-weight: 700;
    color: lighten(#1F2041, 25%);
  }

}

.menu__list>li:hover>ul {
  display: block;
}