.wrapper {
  max-width: 1160px;
  margin: 140px auto 0 auto;
}



.logo {
  background-image: url('./img/logo.png');
  width: 48px;
  height: 48px;
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 30px;
}

.colored-blocks {
  display: flex;
  flex-direction: column;
  &__colored-block {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    &:not(:last-child) {margin-bottom: 20px;}

    $colors:#1F2041 lighten(#1F2041,25) lighten(#1F2041,50) lighten(#1F2041,75) lighten(#1F2041,95) #BC9CFF #6FCF97;
    $i:0;
    @each $block in 1,2,3,4,5,6,7 {
      $i: $i + 1;
      &#{$block} {
        background: nth($colors, $i);
      }
  }
}
}