extends ../../components/layouts/base-layout.pug
block variables
  title Color & Type Page

block content
  include ../../components/includes/wrapper-incl.pug
    .colored-blocks
      - for(var i = 1; i < 8; i++) {
        .colored-blocks__colored-block(class=`colored-blocks__colored-block${i}`)
        - }

