body {
  min-width: 320px;
}

.wrapper {
  background-color: #F4F4F6;
  max-width: 1132.26px;
  padding: 140px 158px 10px 149.74px;

  @include _1060 {
    padding: 110px 100px 10px 100px;
  }

  @include _940 {
    padding: 110px 45px 10px 45px;
  }

  &_white {
    background-color: #fff;
  }
}

.logo {
  background-image: url('./img/logo.png');
  width: 48px;
  height: 48px;
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 30px;
}