@import '../../mixin.scss';

.footer {
  background-color: #fff;
  padding-top: 100px;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  margin-bottom: 20px;

  &__wrapper {
    max-width: 1160px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    padding: 0 140px;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    max-width: 260px;
    margin-bottom: 100px;

    &:nth-child(2) {
      position: relative;
      left: -21px;
    }

    &:nth-child(3) {
      position: relative;
      left: -23px;
    }

    &:nth-child(4) {
      position: relative;
      left: 9px;
    }
  }

  &__logotype {
    width: 105.69px;
    height: 40px;
    margin-bottom: 20px;
  }

  &__text {
    @include Montserrat($fw:400, $fsl: normal, $fsz:14px);
    line-height: 23px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__pos {
    margin-top: 20px;
  }

  &__item-title {
    @include Montserrat($fw:700, $fsl: normal, $fsz:12px);
    line-height: 14.63px;
    color: #1F2041;
    text-transform: uppercase;
    margin: 4px 0 21px 0;
  }

  &__item,
  &__link {
    @include Montserrat($fw:400, $fsl: normal, $fsz:14px);
    line-height: 19px;
    color: rgba(31, 32, 65, 0.5);
    text-transform: none;
    margin-top: 20px;

    &:hover {
      color: #1F2041;
    }
  }

  &__form {
    margin-top: 22.5px;
  }

  &__addMail {
    Width: 260px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    @include Montserrat($fw:400, $fsl: normal, $fsz:14px);
    line-height: 22px;
    color: rgba(31, 32, 65, 0.25);
    padding: 12px 15px 8px 15px;
    box-sizing: border-box;
    position: relative;

    &::-webkit-input-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &::-moz-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &:-ms-input-placeholder {
      color: rgba(31, 32, 65, 0.25);
    }

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }
  }

  &__submit {
    position: absolute;
  }
}

.footer-small {
  max-width: 560px;
  padding: 120px 104px 122px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__pos:not(:last-child) {
    margin-bottom: 20px;
    padding: 0;

    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
}

.subfooter {
  padding: 23px 0;
  border-top: 2px solid rgba(31, 32, 65, 0.1);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    line-height: 17.07px;
    padding: 3px 0;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 112px;
  }

  &__link {
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 24px;
    line-height: 22px;

    &:hover::after {
      background: #59308B;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_twitter::after {
      content: '\f099';
    }

    &_facebook::after {
      content: '\f082';
    }

    &_instagram::after {
      content: '\f16d';
    }
  }
}

.gradient {
  background: -moz-linear-gradient(180deg, #bc9cff, #8ba4f9);
  background: -webkit-linear-gradient(180deg, #bc9cff, #8ba4f9);
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
}