extends ../../components/layouts/base-layout.pug
block title
  title Headers & Footers Page

block content
  include ../../components/includes/wrapper-incl/wrapper-incl.pug
    header.header
      .header__wrapper
        .header__columns
          img.header__logotype(src="./img/Logo-with-name.png" alt="logotype")
          .header__menu
            include ../../components/blocks/menu/menu.pug