@import './style/headers-footers-page-fonts.css';
@import '../../components/mixin.scss';
@import '../../components/media.scss';
@import '../../components/includes/wrapper-incl/wrapper-incl.scss';
@import '../../components/blocks/menu/menu.scss';

.header {
  background-color: #fff;
  height: 70px;
  border: 1px solid green;

  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__logotype {
    // background-image: url('./img/Logo-with-name.png');
    width: 105.69px;
    height: 40px;
    // background-size: cover;
  }
}