extends ../../components/layouts/base-layout.pug
block title
  title Headers & Footers Page

block content
  include ../../components/includes/logo/logo.pug
  include ../../components/blocks/header/header.pug