@import '../../components/variables.scss';
@import '../../components/null.scss';
@import './style/headers-footers-page-fonts.css';
@import '../../components/media.scss';
@import '../../components/includes/logo/logo.scss';

@import '../../components/blocks/header/header.scss';
@import '../../components/blocks/footer/footer.scss';

body {
  background-color: #F4F4F6;
}

.margins-page {
  margin: 140px 0 40px 0;
}

.margins-page2 {
  margin: 0 0 40px 0;
}