extends ../../components/layouts/base-layout.pug
block title
  title Headers & Footers Page

block content
  include ../../components/includes/logo/logo.pug
  .margins-page
  include ../../components/blocks/header/header.pug
  .margins-page2
  include ../../components/blocks/header/header-auth.pug
  .margins-page2
  include ../../components/blocks/footer/footer.pug