header.header
  .header__wrapper
    .header__columns
      img.header__logotype(src="./img/Logo-with-name.png" alt="logotype")
      .header__menu
        include ../../../components/blocks/menu/menu.pug
        span.header__auth.menu__link Юлий Цезарь