header.header.header__pos
    .header__wrapper.header__flex
      .header__columns
        img.header__logotype(src="./img/Logo-with-name.png" alt="logotype")
        .header__menu
          include ../../../components/blocks/menu/menu.pug