//- .iqdropdown.menu-open.iqdropdown-2
//-   input.iqdropdown-selection.form__input.form__input-pos.form__input_placeholder_color(data-seletion-text="item" data-text-plural="items") Сколько гостей
//-   button.form__choice(readonly="readonly")
//-     i.material-icons expand_more
.iqdropdown
  p.iqdropdown-selection Сколько гостей
  .iqdropdown-menu
    .iqdropdown-menu-option(data-id="item1" data-defaultcount="0" data-mincount="0" data-maxcount="10")
      p.iqdropdown-item Взрослые
    .iqdropdown-menu-option(data-id="item2" data-defaultcount="0" data-mincount="0" data-maxcount="10")
      p.iqdropdown-item Дети
    .iqdropdown-menu-option(data-id="item3" data-defaultcount="0" data-mincount="0" data-maxcount="10")
      p.iqdropdown-item Младенцы
    //- .iqdropdown-buttons.iqdropdown-item-controls
    //-   .counter.iqdropdown-button_clean.text.text_title.text_title_bold очистить
    //-   .counter.iqdropdown-button_apply.text.text_title.text_title_bold применить

//- .iqdropdown
//-   p.iqdropdown-selection
//-     .iqdropdown-menu
//-       option.text.text_title.text_title_bold.iqdropdown-menu-option(data-id="item1" data-defaultcount="0" data-mincount="0" data-maxcount="10")
//-         p.iqdropdown-item Взрослые
//-           .iqdropdown-item-controls
//-             button.button-decrement.empty
//-               i.icon-decrement
//-             span.counter 0
//-             button.button-increment
//-               i.icon-increment
//-       option.text.text_title.text_title_bold.iqdropdown-menu-option(data-id="item2" data-defaultcount="0" data-mincount="0" data-maxcount="10")
//-         p.iqdropdown-item Дети
//-           .iqdropdown-item-controls
//-             button.button-decrement.empty
//-               i.icon-decrement
//-             span.counter 0
//-             button.button-increment
//-               i.icon-increment
//-       option.text.text_title.text_title_bold.iqdropdown-menu-option(data-id="item3" data-defaultcount="0" data-mincount="0" data-maxcount="10")
//-         p.iqdropdown-item Младенцы
//-           .iqdropdown-item-controls
//-             button.button-decrement.empty
//-               i.icon-decrement
//-             span.counter 0
//-             button.button-increment
//-               i.icon-increment
    //- .iqdropdown-buttons.iqdropdown-item-controls
    //-   button.iqdropdown-button_clean.text.text_title.text_title_bold(id="iqdropdown-button_clean-2") очистить
    //-   button.iqdropdown-button_apply.text.text_title.text_title_bold(id="iqdropdown-button_apply") применить
