extends ../../components/layouts/base-layout.pug
block title
  title Form elements

block content
  .wrapper.wrapper_white
    include ../../components/includes/logo/logo.pug
      .form-elems.form-elems__columns
        .form-elems__column

          form.form-elems__text-field(name="text-field")
            legend.form-elems__name
              p.form-elems__text.form-elems__text_title.form-elems__text_bold Text Field
              p.form-elems__text.form-elems__text_title Default
            input.form-elems__addData(type="email" placeholder="Email")

          form.form-elems__text-field(name="text-field")
            legend.form-elems__name
              p.form-elems__text.form-elems__text_title.form-elems__text_bold Text Field
              p.form-elems__text.form-elems__text_title Hover / Focus
            input.form-elems__addData(type="text" placeholder="This is pretty awesome")

          form.form-elems__text-field(name="dropdown")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold Dropdown
            input.form-elems__addData.form-elems__addData_dropdown(type="number" placeholder="Сколько гостей")
            button.form-elems__choice(readonly="readonly")
              i.material-icons expand_more

          form.form-elems__text-field(name="text-field")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold masked text field
            input.form-elems__addData.js-date-mask(type="text" placeholder="ДД.ММ.ГГГГ")

          .form-elems__row
            form.form-elems__text-field.form-elems__text-field_small(name="text-field")
              legend.form-elems__text.form-elems__text_title.form-elems__text_bold date Dropdown
              input.form-elems__addData.form-elems__addData_small.form-elems__addData_dropdown.js-date-mask(type="text" placeholder="ДД.ММ.ГГГГ")
              button.form-elems__choice(readonly="readonly")
                i.material-icons expand_more

            form.form-elems__text-field.form-elems__text-field_small(name="text-field")
              legend.form-elems__text.form-elems__text_title.form-elems__text_bold date Dropdown
              input.form-elems__addData.form-elems__addData_small.form-elems__addData_dropdown.js-date-mask(type="text" placeholder="ДД.ММ.ГГГГ" value="19.08.2019")
              button.form-elems__choice(readonly="readonly")
                i.material-icons expand_more

          form.form-elems__text-field(name="text-field")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold filter date dropdown
            input.form-elems__addData.form-elems__addData_dropdown.js-date-mask(type="text" placeholder="ДД.ММ.ГГГГ" value="19 авг-23 авг")
            button.form-elems__choice(readonly="readonly")
              i.material-icons expand_more

          form.form-elems__text-field(name="text-field")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold subscription text field
            input.form-elems__addData(type="email" placeholder="Email")
            button.form-elems__choice(type="submit" readonly="readonly")
              i.material-icons.gradient arrow_forward

          form.form-elems__text-field(name="dropdown")
            legend.form-elems__name
              p.form-elems__text.form-elems__text_title.form-elems__text_bold dropdown
              p.form-elems__text.form-elems__text_title Default
            input.form-elems__addData.form-elems__addData_dropdown(type="text" placeholder="2 спальни, 2 кровати..." list = "conveniences")
            datalist(id = "conveniences")
              //- include ../../components/includes/item-quantity-dropdown/item-quantity-dropdown.pug
            button.form-elems__choice(readonly="readonly")
              i.material-icons expand_more

          form.form-elems__text-field(name="dropdown")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold Expandable checkbox list
            button.form-elems__choice.form-elems__choice_pos(readonly="readonly")
              i.material-icons expand_more
            fieldset.form-elems__fieldset.form-elems__fieldset_appear
              input.form-elems__custom-checkbox(type="checkbox" id="check1" name="ExpandableList[]" value="Завтрак")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check1") Завтрак
              input.form-elems__custom-checkbox(type="checkbox" id="check2" name="ExpandableList[]" value="Письменный стол")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check2") Письменный стол
              input.form-elems__custom-checkbox(type="checkbox" id="check3" name="ExpandableList[]" value="Стул для кормления")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check3") Стул для кормления
              input.form-elems__custom-checkbox(type="checkbox" id="check4" name="ExpandableList[]" value="Кроватка")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check4") Кроватка
              input.form-elems__custom-checkbox(type="checkbox" id="check5" name="ExpandableList[]" value="Телевизор")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check5") Телевизор
              input.form-elems__custom-checkbox(type="checkbox" id="check6" name="ExpandableList[]" value="Шампунь")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check6") Шампунь

          .advantages.advantages__pos
            .advantages__columns
              i.material-icons.gradient.advantages__item insert_emoticon
              .advantages__content
                p.advantages__text.advantages__text_title Комфорт
                p.advantages__text Шумопоглощающие стены

          .advantages
            .advantages__columns
              i.material-icons.gradient.advantages__item location_city
              .advantages__content
                p.advantages__text.advantages__text_title Удобство
                p.advantages__text Окно в каждой из спален

        .form-elems__column

          form.form-elems__text-field(name="Checkbox-Buttons")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold Checkbox Buttons
            fieldset.form-elems__fieldset
              input.form-elems__custom-checkbox(type="checkbox" id="check31" name="ExpandableList2[]" value="Можно курить")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check31") Можно курить
              input.form-elems__custom-checkbox(type="checkbox" id="check32" name="ExpandableList2[]" value="Можно с питомцами")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check32") Можно с питомцами
              input.form-elems__custom-checkbox(type="checkbox" id="check33" name="ExpandableList2[]" value="Можно пригласить гостей (до 10 человек)")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="check33") Можно пригласить гостей (до 10 человек)

          form.form-elems__text-field(name="Toggle")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold Radio Buttons
            fieldset.form-elems__toggle-item
              input.form-elems__radiobtn(type="radio" id="item1" name="radio" value="Мужчина")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="item1") Мужчина
            fieldset.form-elems__toggle-item
              input.form-elems__radiobtn(type="radio" id="item2" name="radio" value="Женщина")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="item2") Женщина

          form.form-elems__text-field(name="Toggle")
            legend.form-elems__text.form-elems__text_title.form-elems__text_bold Toggle
            fieldset.form-elems__toggle-item
              input.form-elems__radiobtn.form-elems__radiobtn_oval.form-elems__radiobtn_oval-active(type="checkbox" id="item3" name="radio" value="Получать спецпредложения")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="item3") Получать спецпредложения
            fieldset.form-elems__toggle-item
              input.form-elems__radiobtn.form-elems__radiobtn_oval(type="checkbox" id="item4" name="radio" value="Получать спецпредложения")
              label.form-elems__label.form-elems__text.form-elems__text_list(for="item4") Получать спецпредложения


        .form-elems__column
