@import './style/form-elements-page-fonts.css';
@import '../../components/mixin.scss';
@import '../../components/media.scss';
@import '../../components/includes/wrapper-incl/wrapper-incl.scss';

.wrapper {
  padding: 140px 141px 131px 140px;
}

.form-elems {
  &__columns {
    display: flex;
    flex-direction: column;
  }

  &__column {}

  &__row {
    display: flex;
  }


  &__text-field {
    width: 320px;
    height: 100%;
    position: relative;

    &:not(:last-of-type) {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    &_small {
      width: 150px;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
  }

  &__text {

    @include Montserrat($fw:400, $fsz:14px);
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);

    &_bold {
      font-weight: 700;
      color: #1F2041;
    }

    &_list {
      text-transform: none;
    }

    &_title {
      margin: 0 0 5px 0;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__addData {
    @include Button-Input(320px, 44px);
    padding: 13px 15px;
    @include Montserrat();
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);

    &:hover {
      border: 1px solid rgba(31, 32, 65, 0.5);

      @include placeholder {
        color: rgba(31, 32, 65, 0.75);
      }
    }

    @include placeholder {
      @include Montserrat();
      line-height: 18px;
      color: rgba(31, 32, 65, 0.25);
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &_small {
      width: 150px;

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    &_dropdown {
      @include placeholder {
        color: rgba(31, 32, 65, 0.75);
      }


    }


  }

  &__fieldset {
    // display: flex;

    &:hover {
      display: flex;
    }

    display: none;
    margin-top: -10px;
    padding: 26px 0 0 0;
    width: 100%;
    border: none;
    flex-direction: column;
  }

  &__choice {
    @include Button-Input(44px, 44px, none);
    padding: 0;
    color: rgba(31, 32, 65, 0.5);
    background-color: transparent;
    position: absolute;
    top: 21px;
    right: 0;

    &_pos {
      top: -13px;

      &:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        top: -17px;

        ~.form-elems__fieldset {
          display: flex;
        }
      }
    }
  }

  &__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &+label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      margin-right: 9.74px;
    }

    &:checked+label::before {
      @include FontAwesome();
      content: '\f00c';
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
      border-color: #BC9CFF;
      background-color: #BC9CFF;
      @include gradient();
    }
  }

  &__label {

    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

.gradient {
  @include gradient();
}


.advantages {
  &__pos {
    margin-top: 100.56px;
  }

  &:not(:last-of-type) {
    margin-bottom: 38px;
  }

  &__columns {
    display: flex;
    position: relative;

    &::after {
      content: '';
      width: 280px;
      height: 1px;
      background-color: rgba(31, 32, 65, 0.1);
      position: absolute;
      bottom: -17px;
      left: 0;
    }
  }

  &__item {
    margin-right: 5px;
    font-size: 48px;
  }

  &__text {
    @include Montserrat($fw:400, $fsz:14px);
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 5px;

    &_title {
      font-weight: 700;
    }
  }
}